.bg{
    color: white;
    background-color: rgba(7,14,38,0.7);
    margin-left: 0px;
    position: absolute;
    top:480px;
    min-height: 100px;
}
.as{
    min-height: 100%;
    border: 2px solid black;
    position: relative;
    height: 600px;
}
.button{
    background-color: aqua;
}