.map{
    min-height: 100%;
    width: 100%;
}
@media screen and  (max-width:998px) {
.contactdiv{
   flex-direction: column;  
}
.divch{
    min-width: 100%;
}
.dip{
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 100px;
}
.dipchild{
    flex-direction: column;  
}
}